<!--The whole content below can be removed with the new code.-->
<div class="container">
  <div class="header">
    <h1>Proof of Skills</h1>
    <div class="logo-wrapper">
      <img width="200" src="../assets/enowa_logo.svg" />
    </div>
  </div>
  <div class="content">
    <h2>Task {{tasknr}} – {{taskdescription}}</h2>

    <div class="content-wrapper">
      <div class="box box-1">
        <p>
          You want to greet a person? Just enter the name:
        </p>

        <div class="name-input">
          <input type="text" [formControl]="name" registerOnChange="getGreeting">
        </div>

        <div class="msg">
          {{greeting.content}}
        </div>
      </div>

      <div class="box box-2">
        <h3>developed by: </h3>
        <p>{{candidate.firstname}} {{candidate.lastname}}</p>
        <p> Skills: </p>
        <ul>
          <li *ngFor="let skill of candidate.skills"> {{skill}}</li>
        </ul>
      </div>
    </div>

  </div>
</div>

