/* You can add global styles to this file, and also import other style files */
/*
 blue: #004a7f;
 orange: #ff3f00;
*/
body {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}
